.OrderEatForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 720px;
  width: 450px;

  @media screen and (max-width: 500px) {
    width: auto;
  }

  &__title {
    color: black;
  }

  &__titleDark {
    color: white;
  }

  &__inputs {
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }
}
