.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background.jpg");
  background-repeat: repeat;

  @media only screen and (hover: none) and (pointer: coarse) {
    padding: 100px;
    height: auto;
  }
  @media screen and (max-height: 900px) {
    padding: 180px 0;
  }

  @media screen and (min-width: 1500px) {
    justify-content: flex-end;
  }
}
